# IDE & build
.settings/
.settings
settings/
bin/
build/
Reports/
output/
Libs/

# Katalon internal
console.properties
Include/config/

# Optional IDE noise
.classpath
.project
.cache

# Others
*.iml
*.log
